# 4.6 Merging and exporting data - Part 2

## This script contains the following points:

### 1. Import data
### 2. Merge data
### 3. Export data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Assign project folder path to a variable

path = r'C:\Users\jomok\Documents\Career Foundry\Achievement 4\07-2023 Instacart Basket Analysis'

## 1. Import data

In [3]:
# Step 3 - Import data

df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [4]:
# Step 4 - Check the shape

df_orders_products_combined.shape

(32434489, 13)

In [5]:
# Check the output

df_orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [6]:
# Check the output

df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
# Check the shape

df_prods.shape

(49672, 6)

In [8]:
# Drop unnecessary columns from df_orders_products_combined dataframe

df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge', 'Unnamed: 0.1', 'Unnamed: 0'])

In [9]:
# Check the output

df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,0.0,196,1,0
1,2539329,1,prior,1,2,8,0.0,14084,2,0
2,2539329,1,prior,1,2,8,0.0,12427,3,0
3,2539329,1,prior,1,2,8,0.0,26088,4,0
4,2539329,1,prior,1,2,8,0.0,26405,5,0

In [10]:
# Check the shape

df_orders_products_combined.shape

(32434489, 10)

In [11]:
# Drop unnecessary column from df_prods dataframe

df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [12]:
# Check the output

df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
# Check the shape

df_prods.shape

(49672, 5)

## 2. Merge data

In [14]:
# Step 5 - Merge data

df_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [15]:
# Check the output

df_merged.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [16]:
# Check the shape

df_merged.shape

(32404859, 15)

In [17]:
# Step 6 - Confirm results of merge using the merge flag

df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

Merge flag frequency shows only entries that have a value of "both" in the "_merge" column because of using the default inner join option.

## 3. Export data

In [18]:
# Step 7 - Export newly created dataframe to pkl

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))